.header-container
{
    max-width: 100%;
    background-color: #FFFFFF;
    padding: 5px; 
}

.nav-container
{
    max-width: 100%;
    background-color: #003366;
    padding: 5px;
}

.uk-nav ul
{
    background-color: #003366;
}

.uk-navbar-nav > li.uk-active > a
{
    background-color: #E64A19;
    color: #FFFFFF;
    text-shadow: 0 0 0 #FFFFFF;
    border: 0;
}

.uk-navbar-nav > li:hover > a
{
    background-color: t
}

.uk-navbar-nav > li > a
{
    color: #FFFFFF;
    text-shadow: 0 0 0 #FFFFFF;
}

.uk-navbar-nav > li > a
{
    border-radius: 4px;
}
